* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #001822;
}

#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: #001822;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    overflow: hidden;
}

#flyoutMenu li{
    padding: 10px;
}

#flyoutMenu ul{
    text-align: center;
    padding-top: 40vw;
}

#flyoutMenu a{
    text-decoration: none;
    font-size: 10vw;
    color: white;
}

#flyoutMenu i{
    color: #6ECDDD; 
    font-size: 10vw ;
    border: none;
    padding: 30px;
    position: absolute;
    right: 0vw;
}

#flyoutMenu button{
    border: none;
    background-color: #001822;
    float: right;
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}

li:nth-of-type(6){
    border: solid 1px #6ECDDD; 
    background-color: #6ECDDD;
    border-radius: 100px;
    margin: 20vw 20vw;
    position: relative;
    bottom: 10vw;
}

.Top_Bar{

}

.Top_Bar img{
    width: 100%;
    height: auto;
    max-width: 30vw;
    padding: 20px;
    
}

.Top_Bar button{
    color: #6ECDDD;
    font-size: 10vw;
    float: right;
    text-decoration: none;
    background-color: #001822;
    border: none;
    padding: 30px;
}

footer{
    background-color: white;
    position: relative;
    top: 80vw;
    
}

.Contact{
    text-align: center;
    
}

.Social img{
    width: 100%;
    height: auto;
    max-width: 10vw;
    padding: 5px;
    padding-top: 5vw;
}


