* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #001822;
}

#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: #001822;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    overflow: hidden;
}
 
#flyoutMenu h2 a {
    color: white;
    text-decoration: none;
}

#flyoutMenu{
    text-align: center;
    padding-top: 2rem;
}
 
#flyoutMenu h2 a:hover {
    text-decoration: none;
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}

.Top_Bar{

}

.Top_Bar button{
    color: #6ECDDD;
    font-size: 2vw;
    float: right;
    text-decoration: none;
    background-color: #001822;
    border: none;
}

.Top_Bar button:hover{

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

